body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
::selection { color: white;background-color: #5846f9 ; }
::-moz-selection { color: white;background-color: #5846f9 ; }
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: white;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb{
  background: #6A37FF;
  border-radius: 50px;
}
a {
  color: #5846f9;
  text-decoration: none;
}

a:hover {
  color: #8577fb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #5846f9;
  border-top-color: #e7e4fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: .5s;
  z-index: 100;
}
header.scrolled {
  height: 80px;
  background-color:#6A37FF;
  padding: 10px 50px;
  box-shadow: 1px 1px 4px rgba(0,0,0,.5);
}
header .logo {
  float: left;
}
header .logo img {
  height: 80px;
  transition: .5s;
}
header .logo img:hover {
  cursor: pointer;
}
header.scrolled .logo img {
  height: 60px;
}
header .hamburger-menu-button {
  display: none;
  cursor: pointer;
  float: right;
  padding: 40px 20px;
  transition: padding .5s;
  position: relative;
  user-select: none;
}
header.scrolled .hamburger-menu-button {
  padding: 28px 20px;
}
header .hamburger-menu-button .hamburger-menu-button-icon {
  background-color:#6A37FF;
  display: block;
  height: 3px;
  border-radius: 5px;
  position: relative;
  transition: .2s ease-out;
  width: 25px;
}
header .hamburger-menu-button .hamburger-menu-button-icon:before, header .hamburger-menu-button .hamburger-menu-button-icon:after {
  background-color:#6A37FF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
header .hamburger-menu-button .hamburger-menu-button-icon:before {
  top: 7px;
  border-radius: 3px;
}
header .hamburger-menu-button .hamburger-menu-button-icon:after {
  top: -7px;
  border-radius: 3px;
}
header.scrolled .hamburger-menu-button .hamburger-menu-button-icon, header.scrolled .hamburger-menu-button .hamburger-menu-button-icon:before, header.scrolled .hamburger-menu-button .hamburger-menu-button-icon:after {
  background: #fff;
}
header .open-close-checkbox {
  display: none;
}
header .open-close-checkbox:checked ~ .menu {
  max-height: 500px;
}
header .open-close-checkbox:checked ~ .hamburger-menu-button .hamburger-menu-button-icon {
  background: transparent;
}
header .open-close-checkbox:checked ~ .hamburger-menu-button .hamburger-menu-button-icon:before {
  transform: rotate(-45deg);
  top:0;
}
header .open-close-checkbox:checked ~ .hamburger-menu-button .hamburger-menu-button-icon:after {
  transform: rotate(45deg);
  top:0;
}
header nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  list-style: none;
}
.menu-link {
  color: #6A37FF;
  padding: 5px 20px;
  text-decoration: none;
  line-height: 80px;
  transition: .2s ease-out;
}
.menu-link:hover {
  color: #6A37FF;
  font-size: 20px;
}
header.scrolled .menu-link {
  color: #fff;
  line-height: 60px;
}
header.scrolled .menu-link:hover {
  color: #fff;
}
header nav.menu-opened .menu-link {
  line-height: 50px;
}
header.scrolled nav.menu-opened .menu-link {
  line-height: 40px;
}

@media (max-width: 1100px) {
  header nav ul {
    width: 100%;
    margin: 6px;
    padding: 0;
    max-height: 0;
    float: left;
    background: rgba(255,255,255,1);
    overflow: hidden;
    display: block;
    clear: both;
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
    transition: max-height .3s;
  }
  header.scrolled nav ul {
    background: rgba(255,255,255,1);
  }
  header nav ul li {
    outline: 1px solid #6A37FF;
  }
  .menu-link {
    display: block;
  }
  header.scrolled .menu-link {
    color: #6A37FF;
  }
  header.scrolled .menu-link:hover {
    color: #6A37FF;
  }
  nav .hamburger-menu-button {
    display: block;
  }
}

@media (max-width: 580px) {
  header {
    padding: 10px 5px;
  }
  header.scrolled {
    padding: 10px 5px;
  }
  header .logo img {
    height: 60px;
  }
  header .hamburger-menu-button {
    padding: 28px 20px;
  }
  header nav ul {
    width: 97%;
    margin: 6px;
    padding: 0;
    max-height: 0;
  }
}

@media (max-height: 460px) {
  header nav.menu-opened .menu-link {
    line-height: 20px;
  }
  header.scrolled nav.menu-opened .menu-link {
    line-height: 20px;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background:  url("../img/hero1-bg.png") center center no-repeat;
  background-size: cover;
}

#hero .container, #hero .container-fluid {
  padding-top: 84px;
}

#hero h1 {
  margin: 0;
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
  
}
#h1{
  color:rgb(106,55 ,255 ) ;
  
}
#h2{
  color:rgba(88,70 ,149 );
}

#hero h2 {
  
  margin: 10px 0 0 0;
  font-size: 20px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  margin-top: 30px;
  color: #fff;
  border: 2px solid #fff;
  background-color: #5846f9 ;
  background-image: linear-gradient(to bottom right,#50055e , #5846f9);
  transition: .4s;
}

#hero .btn-get-started:hover {
  background: #fff;
  color: #5846f9;
  border-color:#5846f9;
  transform: scale(1.1) perspective(1px);
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1200px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
  }
  #hero .container, #hero .container-fluid {
    padding-top: 68px;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 26px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  #hero .hero-img img {
    width: 60%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 575px), (max-height: 600px) {
  #hero {
    height: auto;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

section {
  padding: 100px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f9f8ff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #5846f9;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

.about {
  padding: 120px 0;
}

.about .content h3 {
  font-weight: 600;
  font-size: 32px;
  color: #2c4964;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5846f9;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.font-italic{
  text-align: justify;
}

.counts {
  background: linear-gradient(90deg, rgba(88, 70, 249, 0.5) 0%, rgba(123, 39, 216, 0.5) 100%), url("../img/hero-bg.png") center center no-repeat;
  padding: 80px 0 60px 0;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}
#counts{
  background-color: rgb(106,55 ,255 );
}

.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #2c4964;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.services .iconbox-1 i {
  color: #ff3f6c;
}

.services .iconbox-1:hover .icon i {
  color: #fff;
}

.services .iconbox-1:hover .icon path {
  fill: #ff3f6c;
}

.services .iconbox-2 i {
  color: #e84897;
}

.services .iconbox-2:hover .icon i {
  color: #fff;
}

.services .iconbox-2:hover .icon path {
  fill: #e84897;
}

.services .iconbox-3 i {
  color: #ce3e9a;
}

.services .iconbox-3:hover .icon i {
  color: #fff;
}

.services .iconbox-3:hover .icon path {
  fill: #ce3e9a;
}

.services .iconbox-4 i {
  color: #8432df;
}

.services .iconbox-4:hover .icon i {
  color: #fff;
}

.services .iconbox-4:hover .icon path {
  fill: #8432df;
}

.services .iconbox-5 i {
  color: #4743ef;
}

.services .iconbox-5:hover .icon i {
  color: #fff;
}

.services .iconbox-5:hover .icon path {
  fill: #4743ef;
}

.services .iconbox-6 i {
  color: #0b54fe;
}

.services .iconbox-6:hover .icon i {
  color: #fff;
}

.services .iconbox-6:hover .icon path {
  fill: #0b54fe;
}


.services-info-box {
  cursor: context-menu;
}

.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: #5846f9;
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.responsive-card {
  position: relative;
  height: 600px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: .5s;
  border: none;
  background-color: #f9f8ff;
}

.responsive-card .responsive-card-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.responsive-card .responsive-card-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #500966;
  clip-path: circle(120px at center);
  transition: .5s;
}

.responsive-card.responsive-card-opened .responsive-card-circle:before {
  background-color: #6A37FF;
  clip-path: circle(700px at center);
}

.responsive-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  transition: .5s;
  cursor: pointer;
}

.responsive-card.responsive-card-opened img {
  left: 20%;
  height: 500px;
}

.responsive-card .responsive-card-content {
  position: relative;
  left: 10%;
  top: -16%;
  padding: 3% 7.5% 0px 40%;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.responsive-card.responsive-card-opened .responsive-card-content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.responsive-card .responsive-card-content h2 {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: .95em;
}

.responsive-card .responsive-card-content p {
  text-align: justify;
  color: #fff;
}

@media (max-width: 1050px) {
  .responsive-card {
    max-width: 350px;
    align-items: flex-start;
  }

  .responsive-card.responsive-card-opened {
    height: 800px;
  }

  .responsive-card .responsive-card-content {
    top: 49.5%;
    width: 100%;
    left: 0;
    padding: 0;
  }

  .responsive-card .responsive-card-content h2 {
    font-size: 1.75em;
  }

  .responsive-card.responsive-card-opened img {
    top: 25%;
    left: 50%;
    height: 330px;
  }
}

@media (max-width: 420px) {
  .responsive-card .responsive-card-content h2 {
    font-size: 7vw;
  }
  .responsive-card .responsive-card-content p {
    font-size: 3.83vw;
  }
  .responsive-card .responsive-card-content {
    top: 44%;
    width: 100%;
    left: 0;
    padding: 0;
    padding-top: 40px;
  }
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(88, 70, 249, 0.8);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  top: calc(50% - 48px);
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: calc(50% - 50px);
}

.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5846f9;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5846f9;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(44, 73, 100, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.faq {
  background: linear-gradient(42deg, #5846f9 0%, #7b27d8 100%);
}

.faq .section-title h2, .faq .section-title p {
  color: #fff;
}

.faq .section-title h2::after {
  background: rgba(255, 255, 255, 0.6);
}

.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #8577fb;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #2c4964;
}

.faq .faq-list a.collapsed:hover {
  color: #5846f9;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}

.contact .info-box i {
  font-size: 32px;
  color: #5846f9;
  border-radius: 50%;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #2c4964;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 5px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #5846f9;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form input[type="submit"] {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #fff;
  background-color: #5846f9;
  background-image: linear-gradient(to bottom right,#50055e , #5846f9);
  transition: .4s;
  outline: none;
  margin-top: 15px;
}

.contact .php-email-form input[type="submit"]:hover {
  background: #fff;
  color: #5846f9;
  border-color:#5846f9;
  transform: scale(1.1) perspective(1px);
}

.data-sharing-acceptance-text {
	font-size: 13px; 
	color: #6A37FF; 
}

.data-sharing-acceptance-text a {
	font-weight: bold; 
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.breadcrumbs {
  padding: 15px 0;
  background: #f2f6f9;
  min-height: 40px;
  margin-top: 85px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 56px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin: 0;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #3c6387;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

#footer {
  color: #fff;
  font-size: 14px;
  background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../img/hero-bg.jpg") center center no-repeat;
  background-size: cover;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline;
  color: #fff;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid white;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: rgba(123, 39, 216, 0.8);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #5846f9;
}

#footer .copyright-wrap {
  border-top: 1px solid #8577fb;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #fff;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}

#footer .certification-logo {
  display: inline-block;
  margin-right: 15px;
}

#footer .certification-logo:nth-child(3) {
  margin-right: 0;
}

@media (max-width: 767px) {
  #footer .certification-logo {
    display: block;
    margin-bottom: 17.5px;
  }

  #footer .certification-logo:nth-child(1) {
    margin-bottom: 7.5px;
  }

  #footer .certification-logo:nth-child(3) {
    margin-bottom: 0;
  }
}